<a href="https://colab.research.google.com/github/arizanaufalkholish/Pratikum-Algoritma/blob/main/p1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 1
## Pengenalan python
### Hello World

In [ ]:
print("Hello World")

Hello World

In [ ]:
type(88)

int

In [ ]:
type(3.14)

float

In [ ]:
type("daffa")

In [ ]:
type(True)

bool

# Operator Matematika
### - Penjumlahan: +
### - Pengurangan: -
### - Perkalian: *
### - Pembagian: /
### - Pangkat: **
### - Sisa: %
### - Pembagian bilangan bulat: //

In [ ]:
1234 + 123

In [ ]:
1234 * 123

In [ ]:
11 % 2

In [ ]:
1234 - 123

In [ ]:
11 ** 2

In [ ]:
11 // 2

In [ ]:
17 % 2

In [ ]:
22 % 5

In [ ]:
28 % 5

In [ ]:
32 % 7

In [ ]:
37 % 8

Hasil dari a % b adalah menjadi hasil pembagian sisa dari jawaban tersebut. yang mana soal tersebut. contohnya 17 % 2 = 8 bersisa satu

In [ ]:
21 // 2

In [ ]:
23 // 2

In [ ]:
19 // 2

In [ ]:
33 // 4

In [ ]:
29 // 6

hasil dari a // b adalah menampilkan hasil bulatan jawaban tersebut yang mana jawaban tersebut berkebalikan dengan soal nomor 1 yang hanya menampilkan sisa tersebut. yang salah satu contohnya 21 // 2 yang menampilkan jawaban 10.

In [ ]:
#part 1
print("Ariza Naufal Kholish".upper())
print("Ariza Naufal Kholish".lower())
print("Ariza Naufal Kholish".title())

# part 2
print("Ariza Naufal Kholish".count('a'))

# part 3
print(len("Ariza Naufal Kholish"))

# part 4
print("Ariza Naufal Kholish".replace('l','u'))

judul = "Mendadak Dangdut"
print(judul)
Judulbaru = judul.replace('a','i').replace('u','i')
print(Judulbaru)

ARIZA NAUFAL KHOLISH
ariza naufal kholish
Ariza Naufal Kholish
3
20
Ariza Naufau Khouish
Mendadak Dangdut
Mendidik Dingdit

### Part 1
-Upper Mengubah Huruf Menjadi KAPITAL Semua
-lower mengubah Huruf menjadi kecil semua
-title mengubah Awal text menjadi Huruf Besar

### Part 2
digunakan untuk menghitung berapa kali a muncul
### Part 3
digunakan untuk menghitung semua jumlah huruf dalam string
### Part 4
Mengganti huruf  l menjadi u

In [ ]:
print(Judulbaru[7])
print(Judulbaru[5:13])
print(Judulbaru[9:])
print(Judulbaru.find('k'))

k
dik Ding
Dingdit
7

1.print(judulbaru[7])
digunakan untuk mengambil 1 karakter pada indeks 7
2.print(Judulbaru[5:13])
digunakan untuk mengambil substring mulai indeks 5 sampe 13
3.print(judulbaru[9:])
mengambil substring dari indeks 9 sampai akhir
4.print(judulbaru.find('k'))
Fungsinya untuk mencari posisi huruf 'k' pertama kali muncul dalam string

Latihan sesi 1

In [ ]:
nama_1 = 'RoMeo'
nama_2 = "jULiEt"
print(str(nama_1.title()))
print(str(nama_2.title()))

#Hitung jumlah huruf T
print("RoMeO jULiEt".count('t'))
#Hitung jumlah huruf R
print("RoMeO jULiEt".count('R'))

gabung = nama_1 + nama_2
jumlah_R = gabung.upper().count('R')
print(type(jumlah_R))

karakter_meo = nama_1[2:5]
print(karakter_meo)  # Output: meo
karakter_uli = nama_2[1:4]
print(karakter_uli)  # Output: uli

# Gunakan .replace() untuk mengganti substring
nama_1 = nama_1.replace("eo", "ana")
print(nama_1)  # Output: Romana

# Gunakan .replace() untuk mengganti substring
nama_2 = nama_2.replace("Et", "o")
print(nama_2)

Romeo
Juliet
1
1
<class 'int'>
Meo
ULi
RoMana
jULio

## struktur data

In [2]:
asia = ['China', 'Japan', 'India', 'soouth Korea', 'Indonesia']

In [3]:
print(asia[-2])
print(asia[-1])
print(asia[0])
print(asia[1])
print(asia[2])

soouth Korea
Indonesia
China
Japan
India

In [4]:
print(asia[0:3])
print(asia[1:])
print(asia[:2])

['China', 'Japan', 'India']
['Japan', 'India', 'soouth Korea', 'Indonesia']
['China', 'Japan']

In [5]:
asia.append('Qatar')
asia

['China', 'Japan', 'India', 'soouth Korea', 'Indonesia', 'Qatar']

In [6]:
asia.insert(2, 'thailand')
asia

['China', 'Japan', 'thailand', 'India', 'soouth Korea', 'Indonesia', 'Qatar']

In [7]:
africa = ['egypt', 'south africa', 'nigeria']
asia + africa

['China',
 'Japan',
 'thailand',
 'India',
 'soouth Korea',
 'Indonesia',
 'Qatar',
 'egypt',
 'south africa',
 'nigeria']

In [8]:
asia_africa = [asia, africa]
asia_africa

[['China', 'Japan', 'thailand', 'India', 'soouth Korea', 'Indonesia', 'Qatar'],
 ['egypt', 'south africa', 'nigeria']]

In [9]:
print(asia)
# part 1
asia.remove('India')
print(asia)
# part 2
popped = asia.pop(0)
print(asia)
print(popped)

# part 3
del asia[0]
print(asia)

['China', 'Japan', 'thailand', 'India', 'soouth Korea', 'Indonesia', 'Qatar']
['China', 'Japan', 'thailand', 'soouth Korea', 'Indonesia', 'Qatar']
['Japan', 'thailand', 'soouth Korea', 'Indonesia', 'Qatar']
China
['thailand', 'soouth Korea', 'Indonesia', 'Qatar']

In [ ]:
negara = ['Brazil', 'Russia', 'Indonesia', 'China', 'south africa']
negara.sort()
print(negara)

negara.sort(reverse=True)
print(negara)

['Brazil', 'China', 'Indonesia', 'Russia', 'south africa']
['south africa', 'Russia', 'Indonesia', 'China', 'Brazil']

In [ ]:
nilai = [92, 92, 82, 72]
nilai

[92, 92, 82, 72]

In [ ]:
nilai[2] = 90
nilai

[92, 92, 90, 72]

In [ ]:
new_list = nilai[:]
print(new_list)
new_list_2 = nilai.copy()
print(new_list_2)

[92, 92, 90, 72]
[92, 92, 90, 72]

In [ ]:
subjek = ["Dokter", "Pocong", "Kecoa", "Kakek", "Lele","Elang","Bayi","Supir"]
predikat = ["Salto", "Berobat", "Ngepot", "Depresi","Teler","Ngupil","Ngorok"]

In [ ]:
import random
random_subjek = random.choice(subjek)
random_predikat = random.choice(predikat)
print(random_subjek + " " +random_predikat)

Kecoa Ngorok

In [ ]:
mahasiswa = {
    'npm' : 'FTI001',
    'nama' : 'Ariza',
    'ipk' : 3.88,
    'jumlah_sks' :120
    }
mahasiswa

{'npm': 'FTI001', 'nama': 'Ariza', 'ipk': 3.88, 'jumlah_sks': 120}

In [ ]:
mahasiswa['nama']

'Ariza'

In [ ]:
mahasiswa.keys()

dict_keys(['npm', 'nama', 'ipk', 'jumlah_sks'])

In [ ]:
mahasiswa.values()

dict_values(['FTI001', 'Ariza', 3.88, 120])

In [ ]:
mahasiswa.items()

dict_items([('npm', 'FTI001'), ('nama', 'Ariza'), ('ipk', 3.88), ('jumlah_sks', 120)])

In [ ]:
mahasiswa['npm'] = 'FTI002'
mahasiswa

{'npm': 'FTI002', 'nama': 'Ariza', 'ipk': 3.88, 'jumlah_sks': 120}

In [ ]:
mahasiswa.update({'tahun_lulus': 2025, 'mata_kuliah': ['algo 2', 'pbo 1']})
print(mahasiswa['tahun_lulus'])
print(mahasiswa['mata_kuliah'])
print(mahasiswa['mata_kuliah'][1])

2025
['algo 2', 'pbo 1']
pbo 1

In [ ]:
mahasiswa.pop('tahun_lulus')

2025

In [ ]:
del mahasiswa['mata_kuliah']

In [ ]:
list_mahasiswa = []
mhs1 = {
    'npm' : 'FTI001',
    'nama' : 'Ariza',
    'asal_daerah' : "banjarbaru"
    }

list_mahasiswa.append(mhs1)
list_mahasiswa

[{'npm': 'FTI001', 'nama': 'Ariza', 'asal_daerah': 'banjarbaru'}]

In [ ]:
mhs2 = {
    'npm' :'2510022',
    'nama':'Nazwa',
    'asal_daerah':"ampah",
    }

list_mahasiswa.append(mhs2)
list_mahasiswa

[{'npm': 'FTI001', 'nama': 'Ariza', 'asal_daerah': 'banjarbaru'},
 {'npm': '2510022', 'nama': 'Nazwa', 'asal_daerah': 'ampah'}]

In [ ]:
mhs3 = {
    'npm' :'2510023',
    'nama':'rafi',
    'asal_daerah':"kelua",
    }

list_mahasiswa.append(mhs3)
list_mahasiswa

[{'npm': 'FTI001', 'nama': 'Ariza', 'asal_daerah': 'banjarbaru'},
 {'npm': '2510022', 'nama': 'Nazwa', 'asal_daerah': 'ampah'},
 {'npm': '2510023', 'nama': 'rafi', 'asal_daerah': 'kelua'}]

In [ ]:
mhs4 = {
    'npm' :'2510024',
    'nama':'goyonjung',
    'asal_daerah':"korsel",
    }

list_mahasiswa.append(mhs4)
list_mahasiswa

[{'npm': 'FTI001', 'nama': 'Ariza', 'asal_daerah': 'banjarbaru'},
 {'npm': '2510022', 'nama': 'Nazwa', 'asal_daerah': 'ampah'},
 {'npm': '2510023', 'nama': 'rafi', 'asal_daerah': 'kelua'},
 {'npm': '2510024', 'nama': 'goyonjung', 'asal_daerah': 'korsel'}]

In [ ]:
mhs5 = {
    'npm' :'2510025',
    'nama':'hanni',
    'asal_daerah':"korea_selatan",
    }

list_mahasiswa.append(mhs5)
list_mahasiswa

[{'npm': 'FTI001', 'nama': 'Ariza', 'asal_daerah': 'banjarbaru'},
 {'npm': '2510022', 'nama': 'Nazwa', 'asal_daerah': 'ampah'},
 {'npm': '2510023', 'nama': 'rafi', 'asal_daerah': 'kelua'},
 {'npm': '2510024', 'nama': 'goyonjung', 'asal_daerah': 'korsel'},
 {'npm': '2510025', 'nama': 'hanni', 'asal_daerah': 'korea_selatan'}]

In [ ]:
list_mahasiswa[3]

{'npm': '2510024', 'nama': 'goyonjung', 'asal_daerah': 'korsel'}

##LATIHAN2.3

In [ ]:
list_mahasiswa[3]['asal_daerah']

'korsel'

In [ ]:
list_mahasiswa[4]

In [ ]:
import random
random.choice(list_mahasiswa)

{'npm': 'FTI001', 'nama': 'Ariza', 'asal_daerah': 'banjarbaru'}

In [ ]:
import random
random.choice(list_mahasiswa)['nama']

'rafi'

#LATIHAN 2.3

In [ ]:
OUNCES_PER_METRIC_TON = 35273.92

berat_kotak = float(input("Masukkan berat satu kotak cereal (dalam ounces): "))

berat_metric_ton = berat_kotak / OUNCES_PER_METRIC_TON


jumlah_kotak = OUNCES_PER_METRIC_TON / berat_kotak

print(f"\nBerat satu kotak cereal: {berat_kotak} ounces")
print(f"Berat dalam metric ton: {berat_metric_ton:.6f} metric tons")
print(f"Jumlah kotak untuk 1 metric ton: {jumlah_kotak:.2f} kotak")

In [ ]:
def hitung_kalori(met, berat_kg, durasi_menit):
    """
    Menghitung total kalori yang terbakar berdasarkan MET, berat, dan durasi.

    Parameters:
    met (float): Nilai MET untuk aktivitas
    berat_kg (float): Berat badan dalam kilogram
    durasi_menit (float): Durasi aktivitas dalam menit

    Returns:
    float: Total kalori yang terbakar
    """
    kalori_per_menit = 0.0175 * met * berat_kg
    total_kalori = kalori_per_menit * durasi_menit
    return total_kalori


def pounds_ke_kg(pounds):
    """Mengkonversi pounds ke kilogram"""
    return pounds / 2.2


# Contoh penggunaan program
def main():
    print("=" * 50)
    print("KALKULATOR KALORI BERDASARKAN MET")
    print("=" * 50)

    # Daftar aktivitas dan MET-nya
    aktivitas_met = {
        "1": ("Running 6 MPH", 10),
        "2": ("Basketball", 8),
        "3": ("Sleeping", 1)
    }

    # Tampilkan menu aktivitas
    print("\nPilih aktivitas:")
    for key, (nama, met) in aktivitas_met.items():
        print(f"{key}. {nama} ({met} METS)")

    # Input pilihan aktivitas
    pilihan = input("\nMasukkan nomor aktivitas (1-3): ")

    if pilihan not in aktivitas_met:
        print("Pilihan tidak valid!")
        return

    nama_aktivitas, met = aktivitas_met[pilihan]

    # Input berat badan
    satuan_berat = input("Berat badan dalam Kg atau Pounds? (kg/lb): ").lower()
    berat_input = float(input(f"Masukkan berat badan: "))

    if satuan_berat == "lb" or satuan_berat == "pounds":
        berat_kg = pounds_ke_kg(berat_input)
        print(f"Berat: {berat_input} pounds = {berat_kg:.2f} kg")
    else:
        berat_kg = berat_input

    # Input durasi
    durasi = float(input("Masukkan durasi aktivitas (menit): "))

    # Hitung kalori
    total_kalori = hitung_kalori(met, berat_kg, durasi)

    # Tampilkan hasil
    print("\n" + "=" * 50)
    print("HASIL PERHITUNGAN")
    print("=" * 50)
    print(f"Aktivitas      : {nama_aktivitas}")
    print(f"MET            : {met}")
    print(f"Berat Badan    : {berat_kg:.2f} kg")
    print(f"Durasi         : {durasi} menit")
    print(f"Total Kalori   : {total_kalori:.2f} kalori")
    print("=" * 50)


# Jalankan program
if __name__ == "__main__":
    main()